[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
django = "*"
django-environ = "*"
django-heroku = "*"
# django-sslserver = "*"
gunicorn = "*"
psycopg2-binary = "*"
tzdata = "*"
numpy = "*"
joblib = "*"
# opencv-python = "*"
pillow = "*"
sklearn = "*"
torch = "*"
torchvision = "*"
pytorch-lightning = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
django-stubs = "*"

[requires]
python_version = "3.9"

[scripts]
server = "python3 manage.py runserver 0.0.0.0:8000"
