[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2-binary = "*"
tzdata = "*"
gunicorn = "*"
django-heroku = "*"
numpy = "*"
joblib = "*"
sklearn = "*"
pillow = "*"
pytorch-lightning = "*"
torch = "==1.11.0+cpu"
torchvision = "==0.12.0+cpu"

[dev-packages]
mypy = "*"
flake8 = "*"
django-stubs = "*"

[requires]
python_version = "3.9"
