{% extends 'mlapp/templates/base.html' %}

{% block content %}
  <div class="container">
    <img class="prob_img" src="{{ img_url }}" alt="" width="300">
    <p>
      <h3>判定結果：</h3>
      <h4 class="label">{{class}}</h4>
      <h4 class="proba">{{cls_prob}}</h4>
    </p>

    <p>
      <h3>詳細：</h3>
      <table>
        <thead>
          <tr>
            <th>クラス</th>
            <th>確率</th>
          </tr>
        </thead>
        <tbody>
          {% for name, prob in probabilities.items %}
            <tr>
              <td>{{ name }}</td>
              <td>{{ prob }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </p>
  </div>

  <a href="{% url 'image_upload' %}">
    <button type="button" class="btn btn-info">トップ画面へ</button>
  </a>
{% endblock %}
