<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django App</title>
  </head>
  <body>
    <h1>Hello world!</h1>

    <a href="{% url 'create' %}">
      <button type="button">新規作成</button>
    </a>

    <table>
      <tr>
        <th>id</th><th>date</th><th>title</th><th>content</th><th></th>
      </tr>
      {% for diary in object_list %}
        <tr>
          <td>{{ diary.id }}</td>
          <td>{{ diary.date }}</td>
          <td>{{ diary.title }}</td>
          <td>{{ diary.text }}</td>

          <td>
            <a href="{% url 'detail' diary.pk %}"><button type="button">詳細</button></a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
