<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}mlapp{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-light" style="background-color: #00b9f1;">
      <span class="navbar-brand mb-0 h1">{% block header %}Loan Reviewer{% endblock %}</span>
      {% if user.is_authenticated %}
        <span id="logout" style="font-size: 15px; text-align: right;">
          <a href="{% url 'logout' %}" style="color: white; text-decoration: underline;">
            Hello {{ user.username }}
          </a>
        </span>
      {% endif %}
    </nav>

    <div class="contents" style="margin:0 20px">
      {% block content %}

      {% endblock %}
    </div>

    {% block extra_js %}

    {% endblock %}
  </body>
</html>
