{% extends 'mlapp/templates/base.html' %}

{% block title %}
  顧客一覧
{% endblock %}

{% block content %}
  <div class="container" style="margin-top: 20px;">
    <table class="table table-responsive table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th>id</th>
          <th>registered date</th>
          <th>last_name</th>
          <th>first_name</th>
          <th>age</th>
          <th>education</th>
          <th>limited_balance</th>
          <th>result</th>
          <th>probability</th>
          <th></th>
        </tr>
        {% for customer in customers %}
          <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.registered_date }}</td>
            <td>{{ customer.last_name }}</td>
            <td>{{ customer.first_name }}</td>
            <td>{{ customer.age }}</td>
            <td>{{ customer.education }}</td>
            <td>{{ customer.limited_balance }}</td>
            <td>
              {% if customer.result == 0 %}
                審査に落ちました
              {% elif customer.result == 1 %}
                審査に受かりました
              {% else %}
                -
              {% endif %}
            </td>
            <td>{{ customer.proba|floatformat:2 }}</td>
            <td>
              <form class="delete" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm" name="d_id" value="{{ customer.id }}">
                  Delete
                </button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </thead>
    </table>

    <a href="{% url 'index' %}">
      <button type="button" class="btn btn-info">Go to the top page</button>
    </a>
  </div>
{% endblock %}

