{% extends 'mlapp/templates/base.html' %}

{% block content %}
  <h1>Hello Loan Taker!</h1>

  <a href="{% url 'mlapp/input_form' %}">
    <button type="button" class="btn btn-info">新規作成</button>
  </a>

  <table class="table table-responsive table-hover table-sm">
    <tr>
      <th>id</th><th>last_name</th><th>first_name</th><th>age</th>
    </tr>
    {% for consumer in object_list %}
      <tr>
        <td>{{ consumer.id }}</td>
        <td>{{ consumer.last_name }}</td>
        <td>{{ consumer.first_name }}</td>
        <td>{{ consumer.age }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
