{% extends 'mlapp/templates/base.html' %}

{% block content %}
  <div class="container" style="margin-top: 20px">
    <form action="{% url 'signup' %}" method="POST">
      {% csrf_token %}

      <div style="margin-top: 20px;">
        <label>
          {{ form.username.help_text }}
          {{ form.username }}
          {{ form.username.errors }}
        </label>
      </div>

      <div style="margin-top: 20px;">
        <label>
          {{ form.password1.help_text }}
          {{ form.password1 }}
          {{ form.password1.errors }}
        </label>
      </div>

      <div style="margin-top: 20px;">
        <label>
          {{ form.password2.help_text }}
          {{ form.password2 }}
          {{ form.password2.errors }}
        </label>
      </div>

      <p style="padding-top: 20px">
        <button id="send-signup" class="btn btn-primary" type="submit">登録</button>
      </p>

      <p>
        <a href="{% url 'login' %}">
          <button type="button" class="btn btn-info">戻る</button>
        </a>
      </p>
    </form>
  </div>
{% endblock %}
