{% extends 'mlapp/templates/base.html' %}
{% csrf_token %}
{% load static %}

{% block title %}Detect Expression{% endblock %}
{% block header %}Top page{% endblock %}

{% block content %}
  <!-- カメラ映像が描画されます。 -->
  <video id="video_area" style="background-color: #000" autoplay></video>

  <!-- 押下するとカメラ映像描画を開始します。 -->
  <button id="start_btn">映像表示開始</button>

  <!-- 押下するとカメラ映像から静止画をキャプチャします。 -->
  <button id="take_btn">静止画取得</button>

  <!-- 押下すると、20秒の間、カメラ映像のStreamingをDjangoに送信します。 -->
  <button id="send-stream">映像解析（20秒間）</button>

  <!-- 静止画、映像を撮影して送信するために必要な要素 -->
  <!-- hiddenにする必要はないが、見栄えをよくするためにhiddenをつけて隠している。 -->
  <canvas id="streamCanvas" hidden></canvas>


  <div id="image-area">
    <img id="result-img" />
  </div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    var url_start_webcam = "{% url 'predict' %}";
    var csrf_token = "{{ csrf_token }}"
  </script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="{% static 'javascripts/camera_util.js' %}"></script>
{% endblock %}
