{% extends 'mlapp/templates/base.html' %}
{% csrf_token %}
{% load static %}

{% block title %}Detect Expression{% endblock %}
{% block header %}Top page{% endblock %}

{% block content %}

  <div class="container" style="margin-top: 20px;">
    <!-- カメラ映像が描画されます。 -->
    <video id="video_area" style="background-color: #000" autoplay></video>

    <p>
      <div class="progress">
        <div id="left-time" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </p>

    <p>
      <!-- 押下するとカメラ映像描画を開始します。 -->
      <button id="start_btn" class="btn btn-sm btn-primary">映像表示開始</button>

      <!-- 押下するとカメラ映像から静止画をキャプチャします。 -->
      <button id="take_btn" class="btn btn-sm btn-warning">静止画取得</button>

      <!-- 押下すると、20秒の間、カメラ映像のStreamingをDjangoに送信します。 -->
      <button id="send-stream" class="btn btn-sm btn-warning">映像解析（20秒間）</button>
    </p>

    <!-- 静止画、映像を撮影して送信するために必要な要素 -->
    <!-- hiddenにする必要はないが、見栄えをよくするためにhiddenをつけて隠している。 -->
    <canvas id="streamCanvas" hidden></canvas>


    <div id="image-area">
      <img id="result-img" />
      <img id="best-face">
      <span>Your best face: </span>
      <span id="best-percentage">0.0</span>
    </div>
  </div>

  <hr>

  <a href="{% url 'image_upload' %}">
    <button class="btn btn-info">姿勢推定に戻る</button>
  </a>

  <a href="https://github.com/siruku6/ml_sample" target="_blank">
    <button class="btn btn-dark">View source code</button>
  </a>

  <a href="https://github.com/siruku6/model_on_fer2013/blob/master/20220428_create_FER_model.ipynb" target="_blank">
    <button class="btn btn-dark">View model creation process</button>
  </a>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    var url_start_webcam = "{% url 'detect_face' %}";
    var csrf_token = "{{ csrf_token }}"
  </script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="{% static 'javascripts/camera_util.js' %}"></script>
{% endblock %}
